@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

.Eventos{
  background-color: #B80F0F;
  height: 430px;
  width: auto;
  margin-top: 34px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.layout-inside{
  width: 70%;
  height: 80%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-event{
  width: auto;
  height: 200px;
  margin: 30px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sen", sans-serif;
  font-size: 15pt;
}

.image-layout-event{
  height: 80%;
  width: 90%;
  background-color: rgb(173, 167, 167);
  margin-left: 20px;
}

.image-layout-event img{
  height: 100%;
  width: 100%;
}

.layout-link img{
  width: 30px;
  height: 22px;
  margin-left: 29%;
}

.layout-link{
  display: flex;
  justify-content: space-between;
  width: 10%;
}