.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4b2323;
  }
  
  .cadastro-box {
    background-color: #e4f2ff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  .logo img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    background-color: #ff6961;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #ff5c5c;
  }
  