.sobre-nos-container, .nossa-historia-container {
  font-family: Sen;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 0;
}
.slick-slider {
  background-color: rgb(43, 170, 153);
  display: flex;
  justify-content: center;
}
.slick-slide img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
}
.slick-slide h1, .slick-slide h3 {
  font-family: Sen;
  text-align: center;
}
.slick-slide h3 {
  max-width: 600px;
  margin: 0 auto;
}
.historia-instituição, .resto-da-historia {
  max-width: 800px; 
  margin: 0 auto; 
}
.historia-instituição h2, .resto-da-historia h2 {
  font-family: Sen;
  text-align: justify; 
  line-height: 1.6; 
}
.svg-right {
width: 30%;
position: absolute;
right: 0;
}
.svg-left{
width: 30%;
position: absolute;
left: 0;
}
.outra-linha {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 170, 153);
}
.resto-da-historia{
  max-width: 800px; 
  margin: 0 auto; 
}
.resto-da-historia h2{
  font-family: Sen;
  text-align: justify; 
  line-height: 1.6; 
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}