@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

.secao{
    height: 400px;
    width: auto;
    background-color: #8DCAE8;
    margin-top: 3%;
}
section .layout-carrosel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7%;
}
section .layout-images{
    width: 20%;
}

.secao img{
    height: 350px;
}

.quem-somos img{
    width: 70vh;
}

.quem-somos{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    font-family: "Sen", sans-serif;
    color: #333333;
    font-size: 24pt;
}

.layout-quem-somos{
    height: 690px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-central{
    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8a8a8a;
}


.layout-image img{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    z-index: -1;
    margin: 0px 0 0 20px;

    
}

.layout-text{
    text-align: justify;
    height: 500px;
    width: 1000px;
    background-color: #0A4A68;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-weight: bold;
    font-family: "Sen", sans-serif;
    box-sizing: border-box;
}




.layout-text p{
    color: white;
    font-size: 15pt;
    margin-left: 10%;
    display: flex;
}

.footer{
    background-size: cover;
    background-color: #B2C7D2;
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .footertxtmain{
    gap: 30px;
    
    display: flex;
    flex-direction: row;
  }
  
  .footertxt1{
    margin-left: 20px;
    line-height: 1.5em;
    font-size: 22px;
  }
  
  .footertxt2{
    padding-left: 20px;
    line-height: 1.5em;
    font-size: 22px;
    margin-left: 20px;
  }
  
  .imgfooter{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    gap: 15px; 
  }

footer img{
    height: 40px;
    width: 80%;
}

.phrase-tit{
    text-transform: uppercase;
    font-family: "Sen", sans-serif;
    font-style: italic;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

footer p{
    font-size: 13pt;
    font-family: "Sen", sans-serif;
}
